@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

/* SMALL SCREEN STYLES */
@media screen and (max-width: 365px) {
    #desktop-nav {
        display: flex;
    }
    #hamburger-nav {
        display: flex; 
        padding-top: 10%;
        padding-bottom: 1%;
    }
    #experience{
        margin-top: 2rem;
        width: 100%;
    }
    .experience-details-container{
        padding-left: 6%;
    }
   
    #profile,
    .section-container, 
    .section__text{
        display: block;
    }

    .logo-image{
        padding-left: -50%;
        padding-right: 30%;
        width: 100%;

    }
    .profile-pic{
        height: 90%;
        width: 100%;
        border-radius: 2rem;
        padding-left: 5%;
    }
    .section__text{
        padding-top: -10%;
        height: 50%;
        width: 100%
    }
    .section__text__p1{
    }

    .about-pic{
        width: 50%;
    }

    .arrow {
        display: none;
    }
    .section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 100%; 
        height: 10px;
        padding-top: 0%;
        margin: 0 auto 2rem;
    }
    #about{
        width: 100%;
    }
    .about-containers {
        margin-top: 0;
    }
    .text-container {
        padding-right: 8%;
    }
    .experience-details-container {
        width: 100%;
    }
    .experience-text{
        height: 20%;
    }
    .title-for-projects {
        padding-right: 50%;
    }

    #contact, footer {
        height: 40vh;
    }
   profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .nav-links-container {

    }
    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
        padding: 0;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.2rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section-container{
        width: 100%;
    }
    .section__pic-container {
        width: 100%;
        height: 160px;
        justify-content: center;
        padding-right: 8%;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    .about-section{
        width: 100%;
        margin-left: 10%;
    }
    .about-pic {
        width: 100%;
        height: 50%;
        margin-left: 10%;
    }
    .about-details-container{
        padding-top: 10%;
    }
    .about-containers{
        margin-top: 50%;
        margin-right: 13%;
    }
    .timeline-arrow{
        margin-top: 1%;
        margin-bottom: 5%;
        position: top;

    }
    .text-container p{
        padding-right: 70%;
        width: 100%;
    }

    .profile-title {
        margin-left: 6%;
    }
    .section__text__p2 {
        padding-top: 4%;
        padding-bottom: 4%;
    }
    #projects{
    width: 100%;
    }
    .projects{
    width: 100%;

    }
    .projects-text{
        width: 100%;
        padding-right: 50%;
        padding-top: 20%;
        justify-content: center;
    }
    .section__text__pp1{
        width: 100%;
        padding-right: 50%;

    }
    .title-for-projects{
        width: 100%;
        margin-right: 100%;
    }
    .experience-details-container{
        width: 100%;
    }
    .about-containers, .details-container color-container{
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    
    /* Contact and Footer Styles */
    #contact, footer {
        height: 40vh;
        padding: 1rem; /* Add some padding for better spacing */
    }
    
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    
    article {
        font-size: 1rem;
    }
    
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    
    .about-containers, 
    .contact-info-upper-container, 
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0 auto; /* Center align the container */
        padding: 0 1rem; /* Add some padding for better spacing */
        text-align: center; /* Center text alignment */
    }

    .contact-info-container p, 
    .nav-links li a {
        font-size: 1rem; /* Ensure uniform font size */
    }

    .experience-sub-title {
        font-size: 1.2rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .about-pic {
        width: 350px;
        height: 350px;
        margin-left: 4%;
    }

    .section__text__p1 {
        margin-top: -150px;
    }

    .profile-title {
        margin-left: 6%;
    }

    .section__text__p2 {
        padding-top: 4%;
        padding-bottom: 4%;
    }

}






/* TABLET AND MID-SIZE DEVICE STYLES */
@media (max-width: 800px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .nav-links {
        flex-direction: column;
    }
}

/* LARGE DEVICE STYLES */
@media (min-width: 800px) {
    #desktop-nav {
        display: flex;
    }
    #hamburger-nav {
        display: none;
    }
}
