@media screen and (max-width:1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        
    }
  
}
@media screen and (min-width: 1200px) {
    #desktop-nav {
        display: flex;
    }
    #hamburger-nav {
        display: none;
    }
}